DEBUG=False
SECRET_KEY=your-secret-key-here
DATABASE_URL=postgres://user:password@host:port/dbname
ALLOWED_HOSTS=shamba-records-backend.vercel.app,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://shamba-records-frontend.vercel.app
CORS_ALLOW_ALL_ORIGINS=False
